global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    cluster: 'task-scheduler'
    env: 'development'

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

# Alert rules
rule_files:
  - "/etc/prometheus/alert_rules.yml"

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8084']
        labels:
          application: 'task-scheduler-alerting'
  
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
