server:
  port: 8082

spring:
  application:
    name: scheduler-worker
  threads:
    virtual:
      enabled: true
  
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: worker-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
