server:
  port: 8083

spring:
  application:
    name: scheduler-api
  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
